body {
    font-family: arial, sans-serif;
    margin:20px;
    padding:0;
    background-color: antiquewhite;
}
h1;,h2 {
    color:aliceblue
    
}
    UL{
  list-style-type: none; 
  padding: 0; 
  } 
  li{
    margin - bottom: ; 
} 